# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
/.idea.HeadlessChickensUnity.iml
# Datasource local storage ignored files
/../../../../../../../:\GitHub\HeadlessChickens\HeadlessChickensUnity\.idea\.idea.HeadlessChickensUnity\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
